<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Transactions List Page</title>
</head>
<title>Transactions</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body bgcolor="green" style="align-content: center">
<A th:href="@{/Homepage}" class="btn btn-primary btn-sm mb-3">Click to see Tracker Dashboard</A>
<div align="center">
	<h2 style='color:blue; text-align:center'>Transactions List Data</h2>
	<table border="1"  class = "table table-striped table-responsive-md" style="width:60%">
		<thead>
	   	<tr>
    	<th>Income Title</th>
    	<th>Income Amount</th>
    	<th>Income Desc</th>
    	<th>Income Category</th>
    	<th>Income Date</th>
    	<th>Income Update</th>
    	<th>Income Delete</th>
    	</tr>
    	</thead>
		<tbody>
		<tr th:each="incRec:${IncomeKey}"> <!--  loop in thymeleaf -->
		
	    	       <td th:text="${incRec.iTitle}"></td>
    	           <td th:text="${incRec.iAmount}"></td>
    	           <td th:text="${incRec.iDesc}"></td>  
    	           <td th:text="${incRec.iCategory}"></td>
    	           <td th:text="${incRec.iDate}"></td>
    	           <td>
    	           	<!-- Add "update" button/link -->
					<form action="#" th:action="@{/updateIncome}" method="GET">
					<input type="hidden" name="incIDKey" th:value="${incRec.iId}"> 
					<button type="submit" class="btn btn-primary">Update Income</button>
					</form>
					</td>
    	            
    	            <td>
					<!-- Add "delete" button/link -->
					<form action="#" th:action="@{/deleteExpense}" method="GET">
					<input type="hidden" name="incIDKey" th:value="${incRec.iId}">
					<button type="submit" class="btn btn-danger"  onclick="if (!(confirm('Are you sure you want to delete this customer info permanently?'))) return false"> Delete Record
					</button>
					</form>
					</td>
    	 </tr>
    	 </tbody> 
    </table>
    
    <!-- Expenses -->
    <table border="1" class = "table table-striped table-responsive-md" style="width:60%">
		<thead>
	   	<tr>
    	<th>Expense Title</th>
    	<th>Expense Amount</th>
    	<th>Expense Desc</th>
    	<th>Expense Category</th>
    	<th>Expense Date</th>
    	<th>Expense Update</th>
    	<th>Expense Delete</th>
    	</tr>
    	</thead>
		<tbody>
		<tr th:each="expRec:${ExpenseKey}"> <!--  loop in thymeleaf -->
		
	    	       <td th:text="${expRec.eTitle}"></td>
    	           <td th:text="${expRec.eAmount}"></td>
    	           <td th:text="${expRec.eDesc}"></td>  
    	           <td th:text="${expRec.eCategory}"></td>
    	           <td th:text="${expRec.eDate}"></td>
    	           <td>
    	           	<!-- Add "update" button/link -->
					<form action="#" th:action="@{/updateExpense}" method="GET">
					<input type="hidden" name="expIDKey" th:value="${expRec.eId}"> 
					<button type="submit" class="btn btn-primary">UpdateExpense</button>
					</form>
					</td>
    	            
    	            <td>
					<!-- Add "delete" button/link -->
					<form action="#" th:action="@{/deleteExpense}" method="GET">
					<input type="hidden" name="expIDKey" th:value="${expRec.eId}">
					<button type="submit" class="btn btn-danger" onclick="if (!(confirm('Are you sure you want to delete this customer info permanently?'))) return false"> Delete Record
					</button>
					</form>
					</td>
    	 </tr>
    	 </tbody> 
    </table>
</div>
</body>
</html>