<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Income Update</title>
</head>
<body bgcolor="yellow" style="align-content: center">
<div align="center">

<h2>Income Update Form</h2>
	<form action="#" th:action="@{/updateIncome}" th:object="${incRecordKey}" method="POST">
			
			<p>Income ID Retrieved</p>
			<p><label for="iti">Title</label>
			<input id="iti" type="text" th:field="*{iTitle}" placeholder="Title"></p>
			<p><label for="iam">Amount</label>
			<input id="iam" type="text" th:field="*{iAmount}" placeholder="Amount"></p>
			<p><label for="ide">Desc</label>
			<input id="ide" type="text" th:field="*{iDesc}" placeholder="Desc"></p>
			<p><label for="ic">Category</label>
			<input id="ic" type="text" th:field="*{iCategory}" placeholder="Category"></p>
			<p><label for="idt">IncomeDate</label>
			<input id="idt" type="date" th:field="*{iDate}" placeholder="IncomeDate"></p>
			<p><button type="submit" >Update_Income</button></p>
			<!-- as soon as you hit Register, it goes to '/registerCustomer' path and brings the Customer object -->
	</form>
	</div>
	<p><A th:href="@{/Homepage}">Tracker Dashboard</A></p>
	<p><A th:href="@{/TransactionsLst}">Click to view/update/delete Transactions</A></p>
</body>
</html>